* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
    color: #2C2C2C;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.8em;
    margin: 0;
}

.container{
    width: 85%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-color: #cfb595;
    color: black;
}

#navbar{
    background-color: lightgray;
    color: black;
}

#navbar ul{
    padding: 0;
    list-style: none;    
}

#navbar li{
    display: inline;    
}

#navbar a{  
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#introduction{
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1d034f60-0f23-44a7-8284-3bc1c284fb7b/d9d9va8-842fbab0-c527-4f75-b8a0-69b2014319c1.png/v1/fill/w_1024,h_597,q_80,strp/tileable_pixel_background_by_toomanypenguins_d9d9va8-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTk3IiwicGF0aCI6IlwvZlwvMWQwMzRmNjAtMGYyMy00NGE3LTgyODQtM2JjMWMyODRmYjdiXC9kOWQ5dmE4LTg0MmZiYWIwLWM1MjctNGY3NS1iOGEwLTY5YjIwMTQzMTljMS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.qXWhdgOCPjQg8qW0Y14oMLNZemphVyfWgB7vBeUok8k");
    background-position: center right;
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
}

#introduction h2{
    color: #cfb595;
    font-size: 50px;
    padding-bottom: 30px;
    line-height: 1em;
}

#introduction p{
    color: #cfb595;
    font-size: 25px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

#navbar a:hover{  
    color:blue;
    text-decoration: none;
    background-color: silver;    
}

#navbar a:visited{  
    color:red;
    text-decoration: none;
    background-color: fuchsia;    
}

#navbar a:active{  
    color:green;
    text-decoration: none;
    background-color: silver;    
}

#main h3{
    font-family: Tahoma;
    font-size: 24px; 
    text-align: left;
    padding: 10px;
}

#main{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main2{
    background-color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main2 h3{
    font-family: Tahoma;
    font-size: 24px; 
    text-align: left;
}
#one{
    color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#footer{
    background-color: #cfb595;
    color: black;
    text-align: center;
    padding-bottom: 30px;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}